<ion-view title="Page" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="page-heading1" style="color:#000000;text-align:center;" class=" ">Add an Item</h1>
        <form id="page-form1" class="list ">
            <label class="item item-input " id="page-input1">
                <span class="input-label">Enter</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a href="mailto:" id="page-button2" class=" button button-positive  button-block icon ion-android-add ">Add</a>
        <button id="page-button3" class=" button button-positive  button-block ">Scan Barcode</button>
    </ion-content>
</ion-view>